@import '../../styles/globals.scss';
.container {
  .header {
  }

  .link {
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
  }
  .embed {
    width: 350px;
    background-color: $color-light;
    padding: 10px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    font-size: 20px;
  }
}
